/*

Darkula color scheme from the JetBrains family of IDEs

*/

/*
设置代码字体样式
 */
@font-face {
    font-family: Source-CodePro;
    src: url('../../fonts/SourceCodePro.ttf')
}
table{
    width:100%;
    overflow-x: auto;
    padding: 0.5em;
}
.table_hljs {
    display: block;
    font-family: Source-CodePro;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 1px;
    overflow-x: auto;
    padding: 0.5em;
    background: #2b2b2b;
    -webkit-text-size-adjust: none;
}

.table_hljs th {
    font-weight: bold;
    font-size: 1em;
    color: #2285ad;
    font-family: 微软雅黑;
    text-align: center;
}
.table_hljs tr:nth-child(odd) {
    background-color: #323C50;
}
/* Background-color of the even rows */
.table_hljs tr:nth-child(even) {
    background-color: #2C3446;
}
.table_hljs tr:hover {
    background-color: #464A52;
    -webkit-box-shadow: 0 3px 3px -3px #0E1119;
    -moz-box-shadow: 0 3px 3px -3px #0E1119;
    box-shadow: 0 3px 3px -3px #0E1119;
}

.table_hljs th {
    background-color: rgba(45, 47, 57, 0.56);
}

.table_hljs td:first-child {
    color: #FB667A;
}

.table_hljs td:hover {
    background-color: rgba(255, 248, 66, 0.87);
    color: #22210a;
    font-weight: 700;
    font-size: 1.02em;


    box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 1px, #7F7C21 -2px 2px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px;
    transform: translate3d(5px, -5px, 0);

    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: line;
}
.hljs {
    display: block;
    font-family: Source-CodePro;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 1px;
    overflow-x: auto;
    padding: 0.5em;
    background: #2b2b2b;
    -webkit-text-size-adjust: none;
    white-space: pre !important;
}

.hljs th {
    font-weight: bold;
    font-size: 1em;
    color: #2285ad;
    font-family: 微软雅黑;
    text-align: center;
}
.hljs tr:nth-child(odd) {
    background-color: #323C50;
}
/* Background-color of the even rows */
.hljs tr:nth-child(even) {
    background-color: #2C3446;
}
.hljs tr:hover {
    background-color: #464A52;
    -webkit-box-shadow: 0 3px 3px -3px #0E1119;
    -moz-box-shadow: 0 3px 3px -3px #0E1119;
    box-shadow: 0 3px 3px -3px #0E1119;
}

.hljs th {
    background-color: rgba(45, 47, 57, 0.56);
}

.hljs td:first-child {
    color: #FB667A;
}

.hljs td:hover {
    background-color: rgba(255, 248, 66, 0.87);
    color: #22210a;
    font-weight: 700;
    font-size: 1.02em;

    box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 1px, #7F7C21 -2px 2px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px;
    transform: translate3d(5px, -5px, 0);

    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: line;
}

.hljs::-webkit-scrollbar {
    width: 14px;
    height: 12px;
    background-color: #F5F5F5;
}
.hljs::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 3px 4px 6px rgba(0, 0, 0, 0.6);
    background-color: #ffffff;
}

.hljs::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 16px rgba(122, 122, 122, 0.74);
    background-color: #7f7f7f;
}
.hljs,
.hljs-tag,
.hljs-title,
.css .hljs-rule,
.css .hljs-value,
.aspectj .hljs-function,
.css .hljs-function .hljs-preprocessor,
.hljs-pragma {
    color: #bababa;
}

.hljs-strongemphasis,
.hljs-strong,
.hljs-emphasis {
    color: #a8a8a2;
}

.hljs-bullet,
.hljs-blockquote,
.hljs-horizontal_rule,
.hljs-number,
.hljs-regexp,
.alias .hljs-keyword,
.hljs-literal,
.hljs-hexcolor {
    color: #6896ba;
}

.hljs-tag .hljs-value,
.hljs-code,
.css .hljs-class,
.hljs-class .hljs-title:last-child {
    color: #a6e22e;
}

.hljs-link_url {
    font-size: 80%;
}

.hljs-emphasis,
.hljs-strongemphasis,
.hljs-class .hljs-title:last-child,
.hljs-typename {
    font-style: italic;
}

.hljs-keyword,
.ruby .hljs-class .hljs-keyword:first-child,
.ruby .hljs-function .hljs-keyword,
.hljs-function,
.hljs-change,
.hljs-winutils,
.hljs-flow,
.nginx .hljs-title,
.tex .hljs-special,
.hljs-header,
.hljs-attribute,
.hljs-symbol,
.hljs-symbol .hljs-string,
.hljs-tag .hljs-title,
.hljs-value,
.alias .hljs-keyword:first-child,
.css .hljs-tag,
.css .unit,
.css .hljs-important {
    color: #cb7832;
}

.hljs-function .hljs-keyword,
.hljs-class .hljs-keyword:first-child,
.hljs-aspect .hljs-keyword:first-child,
.hljs-constant,
.hljs-typename,
.css .hljs-attribute {
    color: #cb7832;
}

.hljs-variable,
.hljs-params,
.hljs-class .hljs-title,
.hljs-aspect .hljs-title {
    color: #b9b9b9;
}

.hljs-string,
.css .hljs-id,
.hljs-subst,
.hljs-type,
.ruby .hljs-class .hljs-parent,
.hljs-built_in,
.django .hljs-template_tag,
.django .hljs-variable,
.smalltalk .hljs-class,
.django .hljs-filter .hljs-argument,
.smalltalk .hljs-localvars,
.smalltalk .hljs-array,
.hljs-attr_selector,
.hljs-pseudo,
.hljs-addition,
.hljs-stream,
.hljs-envvar,
.apache .hljs-tag,
.apache .hljs-cbracket,
.tex .hljs-command,
.hljs-prompt,
.hljs-link_label,
.hljs-link_url,
.hljs-name {
    color: #5ae6b2;
}

.hljs-comment,
.hljs-annotation,
.hljs-pi,
.hljs-doctype,
.hljs-deletion,
.hljs-shebang,
.apache .hljs-sqbracket,
.tex .hljs-formula {
    color: #7f7f7f;
}

.hljs-decorator {
    color: #bab429;
}

.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata,
.xml .php,
.php .xml {
    opacity: 0.5;
}
