.ant-carousel .slick-prev,
.ant-carousel .slick-prev:hover,
.ant-carousel .slick-prev:focus {
    font-size: 30px;
    left: 4%;
    z-index: 2;
    color: #ffffff;
}

.ant-carousel .slick-next,
.ant-carousel .slick-next:hover,
.ant-carousel .slick-next:focus {
    font-size: 30px;
    right: 4%;
    z-index: 2;
    color: #ffffff;
}

/* ------------------------------------------------------------------------------
	Header(START)
-------------------------------------------------------------------------------*/
#header {
    position: fixed;
    width: 100%;
    z-index: 999;
}

#header .header-content {
    margin: 0 auto;
    max-width: 1170px;
    padding: 60px 0;
    width: 100%;
    -moz-transition: padding 0.3s;
    -o-transition: padding 0.3s;
    -webkit-transition: padding 0.3s;
    transition: padding 0.3s;
}

#header .header-content a {
    float: left;
    font-size: 24px;
    font-weight: 700;
    color: #eeeeee;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 7px;
}


#header .fixed {
    background-color: #fff;
    box-shadow: 0px 10px 19px 8px rgba(0, 0, 0, 0.2), 0px 3px 20px 8px rgba(0, 0, 0, 0.19);
}

#header.fixed a {
    color: #343434;
}

#header.fixed .header-content {
    border-bottom: 0;
    padding: 50px 0;
}


/* ------------------------------------------------------------------------------
	Header(END)
-------------------------------------------------------------------------------*/

/* ------------------------------------------------------------------------------
	banner(START)
-------------------------------------------------------------------------------*/

.search {
    padding: 1px 0;
}

.dd {
    background: transparent;
}

.dd form {
    background: transparent;
    border-bottom: 4px dotted #be7c5b;
}

.banner {
    background: linear-gradient(rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.2)), url('../imgs/banner.svg') repeat fixed;
    -moz-background-size: 4000px;
    -o-background-size: 4000px;
    -webkit-background-size: 4000px;
    background-size: 4000px;
    min-height: 750px;
}

.carousel-item {
    position: relative;
    text-align: center;
    padding-top: 3%;
    max-height: 500px;
}

.carousel-item-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.carousel-item-text a {
    text-decoration: none;
}

h7 {
    font-family: Monoton, KaiTi;
    font-weight: 500;
    font-size: 3.5em;
    color: #c0ad91;
}

/* ------------------------------------------------------------------------------
	banner(end)
-------------------------------------------------------------------------------*/

/* ------------------------------------------------------------------------------
	subtitle(START)
-------------------------------------------------------------------------------*/

#gtco-products {
    padding: 7em 0;
    clear: both;
    position: relative;
}

.gtco-container {
    max-width: 1140px;
    position: relative;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.gtco-heading h2 {
    font-size: 36px;
    margin-bottom: 20px;
    line-height: 1.5;
    font-weight: bold;
    color: #000;
    text-transform: none;
    position: relative;
    padding-bottom: 10px;
}

.gtco-heading h2:before {
    position: absolute;
    bottom: 0;
    content: "";
    text-align: center;
    width: 50px;
    margin-left: -25px;
    height: 5px;
    left: 50%;
    background: #17B794;
}

.gtco-heading p {
    font-size: 21px;
    line-height: 1.5;
    color: #1a1a1a;
}

.text-center {
    text-align: center;
}

.animate-box {
    opacity: 0;
}

.animate-fast {
    -webkit-animation-duration: .7s;
    animation-duration: .7s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        visibility: hidden;
        /*-webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);*/
        -webkit-transform: translate3d(0, 200px, 0);
        transform: translate3d(0, 200px, 0);
    }

    to {
        opacity: 1;
        /*visibility: visible;*/
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        visibility: hidden;
        /*-webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);*/
        -webkit-transform: translate3d(0, 200px, 0);
        transform: translate3d(0, 200px, 0);
    }

    to {
        visibility: visible;
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

/* ------------------------------------------------------------------------------
	subtitle(START)
-------------------------------------------------------------------------------*/

/* ------------------------------------------------------------------------------
	wallpaper(START)
-------------------------------------------------------------------------------*/

.no-padding {
    padding: 0;
    display: block;
    box-sizing: border-box;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container-fluid::before {
    display: table;
    content: " ";
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.row:before {
    display: table;
    content: " ";
}

.row:after {
    clear: both;
}

.no-gutter [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}


.work {
    -moz-box-shadow: 0 0 0 1px #fff;
    -webkit-box-shadow: 0 0 0 1px #fff;
    box-shadow: 0 0 0 1px #fff;
    overflow: hidden;
    position: relative;
}

.work img {
    width: 100%;
    height: 100%;
}

.work .overlay {
    background: rgba(218, 101, 55, 0.8);
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    -moz-transition: opacity, 0.3s;
    -o-transition: opacity, 0.3s;
    -webkit-transition: opacity, 0.3s;
    transition: opacity, 0.3s;
}

.work .overlay-caption {
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.work h5,
.work p,
.work img {
    -moz-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    -webkit-transition: all, 0.5s;
    transition: all, 0.5s;
}

.work h5,
.work p {
    color: #fff;
    margin: 0;
    opacity: 0;
}

.work span {
    font-size: 45px;
}

.work h5 {
    margin-bottom: 5px;
    -moz-transform: translate3d(0, -200%, 0);
    -ms-transform: translate3d(0, -200%, 0);
    -webkit-transform: translate3d(0, -200%, 0);
    transform: translate3d(0, -200%, 0);
}

.work p {
    -moz-transform: translate3d(0, 200%, 0);
    -ms-transform: translate3d(0, 200%, 0);
    -webkit-transform: translate3d(0, 200%, 0);
    transform: translate3d(0, 200%, 0);
}

.work-box:hover img {
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.work-box:hover .overlay {
    opacity: 1;
}

.work-box:hover .overlay h5,
.work-box:hover .overlay p {
    opacity: 1;
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.col-lg-3 {
    margin-top: 10px;
}

/* ------------------------------------------------------------------------------
    	wallpaper(END)
-------------------------------------------------------------------------------*/

/* ------------------------------------------------------------------------------
    	footer(START)
-------------------------------------------------------------------------------*/

.gtco-footer {
    padding: 7em 0;
    clear: both;
    position: relative;
    display: block;
}

.gtco-widget {
    margin-bottom: 30px;
}

.gtco-widget h3 {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.gtco-widget p {
    font-size: 13px;
    line-height: 22.4px;
    color: #6c7279;
    margin: 0 0 10px;
}

.gtco-widget a {
    color: #e84545;
    text-decoration: none;
    background-color: transparent;
    transition: 0.5s;
}

.gtco-footer-links {
    padding: 0;
    margin: 0 0 20px 0;
    float: left;
    width: 100%;
}

.gtco-footer-links li {
    padding: 0;
    margin: 0 0 15px 0;
    list-style: none;
    line-height: 1;
}

.copyright p {
    font-size: 13px;
    line-height: 22.4px;
    color: #6c7279;
}

.copyright .block {
    display: block;
}

.copyright a {
    color: #e84545;
    text-decoration: none;
    background-color: transparent;
    transition: 0.5s;
}

.gtco-widget .gtco-quick-contact {
    padding: 0;
    margin: 0;
}

.gtco-widget .gtco-quick-contact li {
    padding: 0;
    margin: 0 0 10px 0;
    list-style: none;
}

.gtco-widget .gtco-quick-contact li i {
    width: 30px;
    font-size: 18px;
    position: relative;
    margin-top: 4px;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

/* ------------------------------------------------------------------------------
    	footer(END)
-------------------------------------------------------------------------------*/

.gtco-portfolio {
    padding: 7em 0;
    background: #303841;
    min-height: 500px;
    background-image: url('../imgs/stockBackground.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}