/* .body {
    background-image: url('../imgs/background.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    min-height: 100vh;
} */

.thumb_up_navigation {
    float: right;
}