*{	-webkit-transition: .7s ease-out;
 	-moz-transition: .7s ease-out;
 	-o-transition:  .7s ease-out;
 	transition: .7s ease-out;
    list-style: none;
}


body{
    text-align: center;
    background: url(../images/background.svg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    -webkit-background-size: cover;/* 兼容Webkit内核浏览器如Chrome和Safari */
    -o-background-size: cover;/* 兼容Opera */
    -moz-background-size: cover;

}

.herocontent{
    padding-top: 100px;
    width: 100%;
    max-width: 900px;
}
.heroshot{
    margin-top: 20px;
    width: 100%;
    max-width: 1200px;

}